body{
  background-color: black;
}

.events-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
   
  }
  
  .event-card {
    width: 260px;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s;
    cursor: pointer;
    height:auto;
    background: linear-gradient(45deg, rgb(11, 0, 52),rgba(57, 0, 36, 0.982));
  }
  .event-card h3{
    color:#ffffff;
  }
  .event-card:hover {
    transform: scale(1.05);
  }
  
  .event-image {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  .event-details {
    padding: 10px;
    text-align: center;
  }
  
  .event-details h3 {
    margin: 10px 0;
    
  }
  

  .event-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.8);
    width: 90%;
    max-width: 600px;
    padding: 20px;
    border-radius: 10px;
    z-index: 1000;
    border: 2px black;
    
  }
  
  .event-popup-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    max-height: 80vh; 
    overflow-y: auto; 
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .popup-event-image {
    width: 100%;
    max-height: 250px;
    object-fit: cover; 
    border-radius: 8px;
  }
  
  .popup-description {
    margin-top: 10px;
    font-size: 16px;
    text-align: justify;
    overflow-wrap: break-word; 
  }
  
  .close-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
    color: rgb(0, 0, 0);
  }
.dashboard{
  margin-top: 9%;
}
.dashboard h2,h3{
justify-content: center;
align-items: center;
text-align: center;
color:#ffffff
}
.dashboard h1{
justify-content: center;
align-items: center;
text-align: center;
color: rgb(108, 255, 213);
}
.popup-event-image {
  width:auto; 
  height:auto; 
  object-fit: cover; 
  border-radius: 8px;
  display: block;
}
.popup-title {
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
}
.popup-title h2{
  color:black;
}
.popup-description {
  white-space: pre-wrap; 
  word-wrap: break-word; 
  font-family: 'Times New Roman', Times, serif;
  color: black;
}
